@font-face {
    font-family: 'Figtree';
    font-style: italic;
    src: url("./Fonts/Figtree-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Figtree';
    src: url("./Fonts/Figtree-VariableFont_wght.ttf");
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Figtree', serif;
    background-color: #F4D04E;
}